<h1>Search users</h1>
<user-messages></user-messages>
<form (ngSubmit)="submit()">
    <fieldset>
        <label>Search</label>
        <div *ngFor="#item of query; #i = index; #last = last" class="form-inline">
            <div class="form-group">
                <label *ngIf="!item.logical">
                    <span class="sr-only">Operator</span>
                    <select
                        [(ngModel)]="item.operator"
                        id="search-operator-{{i}}"
                        class="form-control"
                    >
                        <option *ngFor="#o of operators" [value]="o.value">{{o.label}}</option>
                    </select>
                </label>
                <label *ngIf="!item.logical">
                    <span class="sr-only">Value</span>
                    <input
                        ngControl="search"
                        [(ngModel)]="item.search"
                        type="text"
                        id="search-{{i}}"
                        class="form-control"
                    >
                </label>
                <label *ngIf="item.logical">
                    <span class="sr-only">And/Or</span>
                    <select
                        [(ngModel)]="item.operator"
                        id="search-logical-operator-{{i}}"
                        class="form-control"
                    >
                        <option *ngFor="#lo of logicalOperators" [value]="lo.value">{{lo.label}}</option>
                    </select>
                </label>
                <button *ngIf="last" (click)="addAnother()" class="btn btn-secondary">Add another</button>
            </div>
        </div>
    </fieldset>
    <button class="btn btn-primary">Search</button>
</form>
<pre>Results: {{ results | json }}</pre>