<h1>Search users</h1>
<user-messages></user-messages>
<form (ngSubmit)="submit()" class="jumbotron">
    <fieldset class="form-group">
        <label>Search filters</label>
        <div *ngFor="#filter of filters; #i = index; #last = last">
            <div *ngIf="!filter.logical" class="well well-sm filter-search">
                <div class="form-inline">
                    <label>
                        <span class="sr-only">Field</span>
                        <select
                            [autofocus]="last"
                            ngControl="search-field-{{i}}"
                            [(ngModel)]="filter.field"
                            id="search-field-{{i}}"
                            class="form-control"
                        >
                            <option *ngFor="#f of fields" [value]="f.value">{{f.label}}</option>
                        </select>
                    </label>
                    <label>
                        <span class="sr-only">Operator</span>
                        <select
                            ngControl="search-operator-{{i}}"
                            [(ngModel)]="filter.operator"
                            id="search-operator-{{i}}"
                            class="form-control"
                        >
                            <option *ngFor="#o of operators" [value]="o.value">{{o.label}}</option>
                        </select>
                    </label>
                    <label>
                        <span class="sr-only">Value</span>
                        <input
                            ngControl="search-{{i}}"
                            [(ngModel)]="filter.search"
                            type="text"
                            id="search-{{i}}"
                            class="form-control"
                        >
                    </label>
                    <button *ngIf="last" (click)="addFilter()" class="btn btn-link">Add another</button>
                    <span *ngIf="filters.length > 1" (click)="removeFilter(i)" class="glyphicon glyphicon-remove remove-filter">
                        <span class="text-hide">close</span>
                    </span>
                </div>
            </div>
            <div *ngIf="filter.logical" class="well well-sm filter-logical">
                <div class="form-inline">
                    <label>
                        <span class="sr-only">And/Or</span>
                        <select
                            ngControl="search-logical-operator-{{i}}"
                            [(ngModel)]="filter.operator"
                            id="search-logical-operator-{{i}}"
                            class="form-control"
                        >
                            <option *ngFor="#lo of logicalOperators" [value]="lo.value">{{lo.label}}</option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="form-group">
        <button class="btn btn-primary">Search</button>
    </fieldset>
</form>
<div class="row results">
    <div *ngFor="#result of results" class="col-xs-12 col-sm-6 col-md-4">
        <user-card [user]="result"></user-card>
    </div>
</div>